*.pyc
*.egg-info
build
var
sample.cfg
cards.csv
.noseids
.DS_Store
kardboard.sh
bin/githubissues.py
celerybeat-schedule
mockups/overview.bmml
TODO
.tox
.kve
kardboard/compiled_templates/tmpl*.py
kardboard/compiled_templates/*.pyc