-i https://simple.crate.io/
Flask==0.8
Flask-WTF==0.5.2
Jinja2==2.5.5
WTForms==1.0.1
Werkzeug==0.7
mongoengine==0.5.2
pymongo==2.0.1
git+git://github.com/sbook/flask-mongoengine.git@d907e36e8055#egg=Flask-MongoEngine
python-dateutil==1.5.0
pygooglechart==0.3.0
suds==0.4
translitcodec==0.2 #Used by util.slugify
Flask-Cache==0.3.3
celery==2.4.3
Flask-Script==0.3.3
Flask-Celery==2.4.2
Flask-Exceptional==0.4.7
ordereddict==1.1

markdown2==1.0.1.19
requests==0.6.1
redis==2.4.9
python-memcached==1.48


#Needed for deployment
gunicorn==0.12.2
Fabric==1.2.0


#Needed for testing
mock==0.7.2
unittest2==0.5.1
pytest==2.2.3
pytest-pep8==0.7
tox==1.3
https://github.com/dcramer/pyflakes/tarball/master

#Needed for docs
Pygments==1.4
Sphinx==1.0.7

