Flask==0.9
Flask-WTF==0.5.2

Jinja2==2.6
WTForms==1.0.1
Werkzeug==0.8.3
mongoengine==0.7.10
blinker==1.2
pymongo==2.5
flask-mongoengine==0.6
python-dateutil==1.5.0
suds==0.4
translitcodec==0.2 #Used by util.slugify
Flask-Cache==0.3.3
celery==5.2.2
amqplib==1.0.2
anyjson==0.3.3
statlib==1.1


kombu==2.1.8
Flask-Script==0.3.3
Flask-Celery==2.4.2

markdown2==1.0.1.19
requests==0.6.1
redis==2.4.9
python-memcached==1.48
path.py==2.2.2
python-statsd==1.5.6

argparse==1.2.1
importlib==1.0.2
ordereddict==1.1