body.bigscreen div.nav,
body.bigscreen #team_report_nav,
body.bigscreen .auth,
body.bigscreen a.forkme,
body.bigscreen h1,
body.bigscreen .metric {
    display: none;
}

body.bigscreen div.card_detail {
    display: block;
    margin: 0 20% 0 20%;
}

body.bigscreen {
    font-size: .9em;
}

body.bigscreen .card_on_board p.title {
    margin: 0;
}


body.bigscreen .card_on_board .assignee,
body.bigscreen .overview_board .card_on_board .assignee {
    display: block;
    margin: 0;
}

body.bigscreen table.board div.card_blocked div.card_key {
    background: #991111 url('/static/stripes.png') bottom left repeat-x;
    color: white;
    font-weight: bold;
}

body.bigscreen table.board div.card_blocked:hover
.overview_board table.board div.card_blocked:hover {
    background: transparent;
}

body.bigscreen table.board div.card_blocked:hover div.card_contents
.overview_board table.board div.card_blocked:hover div.card_contents {
    border-radius: 0px;
    background-color: transparent;
}