body {
    background-color: #006890;
    color: #eee;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Impact", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}

h2 {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Impact", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

caption {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Impact", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    color: #eee;
}

div.metric {
    width: 250px;
    border: 1px #92CC47 solid;
    margin: 15px;
    border-radius: 8px;
    background-color: #234F32;
    background-color: #E5F6F6;
    display: inline-block;
}

div.metric h2 {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    background-color: #92CC47;
    color: black;
    margin: 0px;
    padding: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

div.metric a {
    color: inherit;
    text-decoration: none;
}

div.metric p.value {
    font-family: "HelveticaNeue-CondensedBlack", "Helvetica Neue Condensed Black", "Impact", Helvetica, sans-serif;
    text-align: center;
    font-size: 80px;
    margin: 0;
    padding: 0;
    color: #000;
}

p.updated {
    clear: both;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    margin: 0 0 4px 0;
    padding: 0;
    opacity: 0.5;
}

p.auth {
    text-align: left;
    font-size: .8em;
}

p.nav a {
    color: #92CC47;
    text-decoration: none;
    font-weight: bold;
}

p.nav a:hover {
    text-decoration: underline;
}

#wip_data {
    text-align: center;
}

table {
    background-color: #E5F6F6;
    color: #333;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: left;
    width: 80%;
    margin: 0 10% 20px 10%;
}

table tr.even {
    background-color: #fff;
}

table td, table th  {
    margin: 0;
    padding: 3px;
}

table th {
    background-color: #92cc47;
}

table a {
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

th.doneon {
    width: 10%;
}

table .date_col {
    width: 11%;
}

table .key_col {
    width: 20%;
}

table td.cycle_in_goal {
    background-color: #F5E3CB;
}

table td.cycle_over_goal {
    background-color: #FCB59D;
}

table tr.blocked {
    background-color: #A60000;
    color: #dddddd;
}

table tr.blocked a {
    color: #eeeeee;
    font-weight: bold;
}

table tr.blocked td.cycle_in_goal {
    background-color: #A60000;
    color: #dddddd;
}
table tr.blocked td.cycle_over_goal {
    background-color: #A60000;
    color: #dddddd;
}


form table {
    width: 50%;
    margin: 0 25% 20px 25%;
}

form table td.form_label {
    text-align: right;
    width: 20%;
    font-size: .8em;
}

label.required {
    font-weight: bold;
    color: #000;
}

div.card_detail {
    color: #333;
    width: 60%;
    text-align: left;
}

.card_detail h2 {
    text-align: left;
}

div.card_detail .content {
    padding: 6px;
}

.card_detail .content a {
    color: #92CC47;
}
