body {
    background-color: #006890;
    color: #eee;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
}

h1 {
    text-align: center;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Impact", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}

h2 {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Impact", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

caption {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Impact", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    color: #eee;
}

div.metric {
    width: 250px;
    border: 1px #92CC47 solid;
    margin: 15px;
    border-radius: 8px;
    background-color: #E5F6F6;
    display: inline-block;
}

div.metric h2 {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    background-color: #92CC47;
    color: black;
    margin: 0px;
    padding: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

div.metric a {
    color: inherit;
    text-decoration: none;
}

div.metric p.value {
    font-family: "HelveticaNeue-CondensedBlack", "Helvetica Neue Condensed Black", "Impact", Helvetica, sans-serif;
    text-align: center;
    font-size: 80px;
    margin: 0;
    padding: 0;
    color: #000;
}

p.updated {
    clear: both;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    margin: 0 0 4px 0;
    padding: 0;
    opacity: 0.5;
}

p.card_controls {
    text-align: right;
}

p.auth {
    text-align: left;
    font-size: .8em;
}

.nav a {
    color: #92CC47;
    text-decoration: none;
    font-weight: bold;
}

.nav form {
    display: inline;
    margin: 0;
    padding: 0;
}

.nav a:hover {
    text-decoration: underline;
}

#wip_data {
    text-align: center;
}

table {
    background-color: #E5F6F6;
    color: #333;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: left;
    width: 80%;
    margin: 0 10% 20px 10%;
}

table tr.even {
    background-color: #fff;
}

table td, table th {
    margin: 0;
    padding: 3px;
}

table th {
    background-color: #92cc47;
}

table a {
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

th.doneon {
    width: 10%;
}

table .date_col {
    width: 11%;
}

table .key_col {
    width: 20%;
}

table td.cycle_in_goal {
    background-color: #F5E3CB;
}

table td.cycle_over_goal {
    background-color: #FCB59D;
}
table td.cycle_double_over_goal {
    color: #ff0000;
}

table tr.blocked {
    background-color: #A60000;
    color: #dddddd;
}

table tr.blocked a {
    color: #eeeeee;
    font-weight: bold;
}

table tr.blocked td.cycle_in_goal {
    background-color: #A60000;
    color: #dddddd;
}
table tr.blocked td.cycle_over_goal {
    background-color: #A60000;
    color: #dddddd;
}


form table {
    width: 50%;
    margin: 0 25% 20px 25%;
}

form table td.form_label {
    text-align: right;
    width: 20%;
    font-size: .8em;
}

label.required {
    font-weight: bold;
    color: #000;
}

div.card_detail {
    color: #333;
    width: 60%;
    text-align: left;
}

.card_detail h2 {
    text-align: left;
}

div.card_detail .content {
    padding: 6px;
}

.card_detail .content a {
    color: #92CC47;
}

table.board tr {
    border-bottom: 1px solid #000;
}

table.board td {
    border-right: 1px solid #000;
}

table.board td {
    width: 12%;
}

table.board td.cards a {
    color: #367000;
}

table.board td.cards a:hover {
    text-decoration: none;
}

table.board a span.card_icon {
    font-size: 20px;
    margin: 0;
    padding: 0;

}

table.board a span.blocked {
    color: #991111;
}
table.board a span.cycle_in_goal {
    color: #FFC926;
}
table.board span.cycle_over_goal {
    color: #69072E;
}
table.board span.cycle_double_over_goal {
    color: #ff0000;
}
table.board td.cards {
    text-align: center;
    vertical-align: top;
}

table.board div.card_on_board {
    width: 90%;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid black;
    margin: 0 0 10px 0;
    color: #333;
    text-align: left;
}

table.board div.card_on_board p {
    color: #333;
    font-size: .8em;
    margin: 0 0 6px 0;
    padding: 0;
}

table.board div.card_on_board p.assignee {
    text-align: right;
    font-size: .7em;
    margin: 0;
    padding: 0;
}

.overview_board table.board {
    width: 100%;
    margin: 0;
}

.overview_board table.board td {
    width: 14.3%;
}

.overview_board .assignee {
    display: none;
}

.overview_board .cards_backlog,
.overview_board .backlog {
    display: none;
}

.overview_board table.board td.team,
.overview_board table.board th.team {
    width: 5%;
}

.team_page_board table.board td {
    width: 16.6%;
}

.team_page_board {
    width: 100%;
    margin: 0;
    padding: 0;

}

.team_page_board table.board {
    width: 100%;
    padding: 0 10px 10px 10px;
    margin: 0;
}

table.board div.card_on_board div.card_key {
    font-size: .8em;
    text-align: left;
    padding: 0 3px 0 3px;
    margin: -8px -8px .3em -8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

table.board div.card_on_board div.card_key span {
    font-weight: bold;
}

table.board div.card_on_board div.card_key {
    background-color: #367000;
    color: white;
}

table.board div.blocker {
    background-color: #991111;
    background: url('/static/stripes.png');
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 6px;
}

table.board div.blocker p {
    background-color: #fff;
    border-radius: 4px;
    margin: 0 0 0 0;
    padding: 2px;
}

table.board div.cycle_in_goal div.card_key {
    background-color: #FFC926;
    color: #333;
}

table.board div.cycle_over_goal div.card_key{
    background-color: #991111;
    color: #fff;
    font-weight: normal;
}

table.board div.cycle_double_over_goal div.card_key{
    background-color: #ff0000;
    color: #fff;
    font-weight: normal;
}

table.board p.title a {
    color: #000;
}
table.board p.title a:hover {
    color: #367000;
}

table.leaderboard td {
    width: 25%;
}

.error { color: red; }

a.forkme img {
    position: absolute; top: 0; right: 0; border: 0;
}

hr {
    border: .25em solid #006890;
}

table.board div.split_cell_header {
    margin: 0 -3px 1em -3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #92CC47;
    font-weight: bold;
}

.card_detail table {
    width: 94%;
    margin: 0 3% 2em 3%;
    padding: 0;
}

.card_detail caption {
    color: #000;
}