<!DOCTYPE html>
<html>
    <head>
        {% if config.get('GOOGLE_SITE_VERIFICATION', None) %}
            <meta name="google-site-verification" content="{{ config['GOOGLE_SITE_VERIFICATION'] }}" />
        {% endif %}
        <meta charset=utf-8 />
        <meta name="robots" content="noindex" />
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    </head>
    <body>

        <h1>{% block title %}{{ title }}{% endblock %}</h1>

        <p class="nav">
            <a href="/">Overview</a>&nbsp;/&nbsp;
            <a href="/state/">By state</a>&nbsp;/&nbsp;
            <a href="/done/">Completed cards</a>&nbsp;/&nbsp;
            <a href="/card/add/">Add a card</a>&nbsp;/&nbsp;
            <a href="/chart/">Charts</a>
        </p>
        <p class="nav">
            <form action="/quick/" method="GET">
                <label for="search">Search:</label>
                <input type="text" name="key" id="search" />
                <input type="submit" value="Go" name="go" />
            </form>
        </p>

        {% block content %}{% endblock content %}

        <p class="updated">Updated at {{ updated_at }}</p>
        <p class="version">kardboard {{ version }}</p>

        <a href="https://github.com/cmheisel/kardboard">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ url_for('static', filename='forkme.png') }}" alt="Fork me on GitHub" />
        </a>

        {% if config.get('GOOGLE_ANALYTICS', '') %}
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try{
            var pageTracker = _gat._getTracker("{{ config['GOOGLE_ANALYTICS'] }}");
            pageTracker._trackPageview();
        } catch(err) {}
        </script>
        {% endif %}

    </body>
</html>
