{% macro card_overview(card, request) -%}
<a href="{{ url_for('card', key=card.key) }}" title="{{ card.key }} -- {{ card.title }}{% if card.blocked %} BLOCKED: {{ card.blockers[0].reason }}{% endif %}">
    <span class="card_icon">
        {% if card.blocked %}
        <span class="blocked">&#9635;</span>
        {% elif card.cycle_over_goal %}
        <span class="cycle_over_goal">&#9724;</span>
        {% elif card.cycle_in_goal %}
        <span class="cycle_in_goal">&#9724;</span>
        {% else %}
        &#9724;
        {% endif %}
    </span>
</a>
{%- endmacro %}

{% macro card_detail(card, request) -%}
    <a href="{{ url_for('card', key=card.key) }}">
    <div class="card_on_board {% if card.cycle_over_goal %}cycle_over_goal{% elif card.cycle_in_goal %}cycle_in_goal{% endif %}" id="card_{{ card.key }}">
        <div class="card_key"><span>{{ card.key }}</span>
            {% if card.done_date %}
                - {{ card.cycle_time }}d
            {% elif card.start_date %}
                - {{ card.current_cycle_time() }}d
            {% elif card.backlog_date %}
                {% if card.priority %}
                - #{{ card.priority }}
                {% endif %}
            {% endif %}
        </div>

        <p class="title">{{ card.ticket_system_data.get('summary', card.title) }}</p>

        {% if card.blocked %}
        <div class="blocker">
            <p>{{ card.blockers[0].reason }}</p>
        </div>
        {% endif %}

        {% set assignee = card.ticket_system_data.get('assignee', '') %}
        {% if assignee %}
            <p class="assignee">
                <a href="{{ url_for('person', name=assignee) }}">{{ assignee }}</a>
            </p>
        {% endif %}
    </div>
    </a>
{%- endmacro %}

{% macro board(board, request) -%}
<table class="board">
<tr>
  {% for header in board.headers %}
    <th>{{ header }}</th>
  {% endfor %}
</tr>

{% for row in board %}
<tr>
{% for cell in row %}
    {% if cell.get('label') %}
        <td class="team">{{ cell['label'] }}</td>
    {% else %}
        <td class="cards">
        {% for card in cell['cards'] %}
            {% if board.teams|length > 1 %}
                {{ card_overview(card, request) }}
            {% else %}
                {{ card_detail(card, request) }}
            {% endif %}
        {% endfor %}
    </td>
    {% endif %}
{% endfor %}

</tr>
{% endfor %}

</table>

{%- endmacro %}