{% macro state_display(state_data, request) -%}
<div id="wip_data">

{% if states_count != 1 %}
<h2>{{ state_data['title'] }}</h2>
{% endif %}


{% if state_data['wip_cards']|length > 0 %}
    {% set section_title = "Building / %s" % (state_data['wip_cards']|length, ) %}
    {{ card_table(state_data['wip_cards'], request, caption=section_title, show_state=False) }}
{% endif %}

{% if state_data['backlog_cards']|length > 0 %}
    {% set section_title = "Planning / %s" % (state_data['backlog_cards']|length, ) %}
    {{ card_table(state_data['backlog_cards'], request, caption=section_title, show_state=False, show_priority=True, show_cycle=False) }}

{% endif %}

{% if state_data.get('done_cards', [])|length > 0 %}
    {% set section_title = "Done / %s" % (state_data['done_cards']|length, ) %}
    {{ card_table(state_data['done_cards'], request, caption=section_title, show_state=False, show_priority=False, show_cycle=True, show_assigned=False, show_done=True, show_in_goal=False) }}

{% endif %}


</div>
{%- endmacro %}

{% macro card_table(card_collection, request, caption="", show_done=False, show_state=True, show_priority=False, show_cycle=True, show_assigned=True, show_in_goal=True) -%}
<table>
    <caption>{{ caption }}</caption>
    <tr>
        <th class="key_col">Ticket</th>
        <th>Category</th>
        <th class="controls">&nbsp;</th>
        <th>Title</th>


        {% if show_assigned %}
        <th>Assigned</th>
        {% endif %}

        {% if show_cycle %}
        <th>Cycle time</th>
        {% endif %}

        {% if show_done %}
        <th class="date_col">Done</th>
        {% endif %}

        {% if show_state %}
        <th>State</th>
        {% endif %}

        {% if show_priority %}
        <th>Ordering</th>
        {% endif %}

    </tr>

    {% for card in card_collection %}
    <tr class="{{ loop.cycle('odd', 'even') }}" id="card_{{ card.key }}">
        <td>
            {% if card.ticket_system_data %}
                {% set icon = card.ticket_system_data.get('status', {}).get('icon').replace('http:', 'https:') %}
                {% set status_label = card.ticket_system_data.get('status', {}).get('name', '') %}
                {% if icon %}
                <img src="{{ icon }}" alt="{{ status_label }}" title="{{ status_label }}" width="16" height="16" />
                {% endif %}
            {% else %}
                <!--
                    {{ card.ticket_system_data }}
                -->
            {% endif %}
            <a href="{{ card.ticket_system.get_ticket_url() }}">{{ card.key }}
            </a>
        </td>

        <td>
            {{ card.category }}
        </td>


        <td>
            <a href="{{ url_for('card_edit', key=card.key) }}">Edit</a>
            {% set next_url = request.path + "#card_" + card.key %}
            {% if not card.done_data %}
                / <a href="{{ url_for('card_block', key=card.key, next=next_url) }}">{% if card.blocked %}Unblock{% else %}Block{% endif %}</a>
            {% endif %}
        </td>

        <td>
            <a href="{{ url_for('card', key=card.key) }}">{{ card.title }}</a>
        </td>




        {% if show_assigned %}
        <td>
          {% if card.ticket_system_data %}
          {% set assignee = card.ticket_system_data.get('assignee', '') %}
          {% if assignee %}
          <a href="{{ url_for('person', name=assignee) }}">{{ assignee }}</a>{% endif %}
          {% endif %}
        </td>
        {% endif %}

        {% if show_cycle %}
            {% if card.cycle_in_goal and show_in_goal %}
            <td class="cycle_in_goal">
            {% elif card.cycle_over_goal %}
                <td class="cycle_over_goal">
            {% else %}
            <td>
            {% endif %}
                {% if card.cycle_time == 0 or card.cycle_time %}
                    {{ card.cycle_time }}
                {% else %}
                    {{ card.current_cycle_time() }}
                {% endif %}
            </td>
        {% endif %}


        {% if show_done %}
        <td class="date_col">
            {{ card.done_date.strftime("%Y-%m-%d") }}
        </td>
        {% endif %}
        {% if show_state %}
        <td>
            {% if card.state != 'Unknown' %}
                <a href="{{ url_for('state', state_slug=card.state|slugify) }}">{{ card.state }}</a>
            {% endif %}
        </td>
        {% endif %}

        {% if show_priority %}
        <td>
            {{ card.priority }}
        </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

{%- endmacro %}