{% extends "base.html" %}

{% block title %}{{ card.key }}{% endblock %}

{% macro none_or_date(field) %}
    {% if field %}
        {{ field.strftime("%m/%d/%Y") }}
    {% else %}
        None
    {% endif %}
{% endmacro %}

{% block content %}

<div class="metric card_detail">
      <h2 style="font-weight: bold;">
        {{ card.key }} /
            {% if card.done_date %}
                {{ card.cycle_time }}
            {% else %}
                {{ card.current_cycle_time() }}
            {% endif %} days
      </h2>
      <div class="content">
      <h3>{{ card.title }}</h2>
      <ul>
        <li>
            <strong>Cycle time:</strong>
            {% if card.done_date %}
                {{ card.cycle_time }}
            {% else %}
                {{ card.current_cycle_time() }}
            {% endif %}
        </li>
        <li><strong>State:</strong> {{ card.state }}</li>
        <li><strong>Category:</strong> {{ card.category }}</li>
        <li><strong>Backlog date:</strong> {{ none_or_date(card.backlog_date) }}</li>
        <li><strong>Start date:</strong> {{ none_or_date(card.start_date) }}</li>
        <li><strong>Done date:</strong> {{ none_or_date(card.done_date) }}</li>
      </ul>

      {% if card.ticket_system_data %}
      <h4>Ticket information</h4>
      <ul>
        <li>Last synced: {{ card._ticket_system_updated_at|timesince }}</li>
        <li>Assigned: {{ card.ticket_system_data.get('assignee', '') }}</li>
        <li>
                {% set icon = card.ticket_system_data.get('status', {}).get('icon') %}
                {% set status_label = card.ticket_system_data.get('status', {}).get('name', '') %}
                {% if icon %}
                <img src="{{ icon }}" alt="{{ status_label }}" title="{{ status_label }}" width="16" height="16" />
                {% endif %}
                {{ status_label }}
        </li>
        <li>    {% set icon = card.ticket_system_data.get('type', {}).get('icon') %}
                {% set status_label = card.ticket_system_data.get('type', {}).get('name', '') %}
                {% if icon %}
                <img src="{{ icon }}" alt="{{ status_label }}" title="{{ status_label }}" width="16" height="16" />
                {% endif %}
                {{ status_label }}
        </li>
        </ul>


      {% endif %}

      <p><a href="{{ url_for('card_edit', key=card.key) }}">Edit</a> / <a href="{{ url_for('card_delete', key=card.key) }}">Delete</a> / <a href="{{ url_for('dashboard') }}">Home</a>
      </div>

</div>

{% endblock %}