{% macro card_table(card_collection, caption="", show_done=False, show_state=True, show_priority=False, show_cycle=True) -%}
<table>
    <caption>{{ caption }}</caption>
    <tr>
        <th class="key_col">Ticket</th>
        <th>&nbsp;</th>
        <th>Title</th>

        <th>Assigned</th>

        {% if show_cycle %}
        <th>Cycle time</th>
        {% endif %}

        {% if show_done %}
        <th class="date_col">Done</th>
        {% endif %}

        {% if show_state %}
        <th>State</th>
        {% endif %}

        {% if show_priority %}
        <th>Ordering</th>
        {% endif %}

    </tr>

    {% for card in card_collection %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>
            {% if card.ticket_system_data %}
                {% set icon = card.ticket_system_data.get('status', {}).get('icon') %}
                {% set status_label = card.ticket_system_data.get('status', {}).get('name', '') %}
                {% if icon %}
                <img src="{{ icon }}" alt="{{ status_label }}" title="{{ status_label }}" width="16" height="16" />
                {% endif %}
            {% else %}
                <!--
                    {{ card.ticket_system_data }}
                -->
            {% endif %}
            <a href="{{ card.ticket_system.get_ticket_url() }}">{{ card.key }}
            </a>
        </td>

        <td>
            <a href="{{ url_for('card_edit', key=card.key) }}">Edit</a>
        </td>

        <td>
            <a href="{{ url_for('card', key=card.key) }}">{{ card.title }}</a>
        </td>




        <td>
          {% if card.ticket_system_data %}
          {{ card.ticket_system_data.get('assignee', '') }}
          {% endif %}
        </td>

        {% if show_cycle %}
        <td>
            {% if card.cycle_time %}
                {{ card.cycle_time }}
            {% else %}
                {{ card.current_cycle_time() }}
            {% endif %}
        </td>
        {% endif %}


        {% if show_done %}
        <td class="date_col">
            {{ card.done_date.strftime("%Y-%m-%d") }}
        </td>
        {% endif %}
        {% if show_state %}
        <td>
            {% if card.state != 'Unknown' %}
                <a href="{{ url_for('state', state_slug=card.state|slugify) }}">{{ card.state }}</a>
            {% endif %}
        </td>
        {% endif %}

        {% if show_priority %}
        <td>
            {{ card.priority }}
        </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

{%- endmacro %}