{% extends "base.html" %}
{% import "form_macros.html" as form_macros %}

{% block title %}Whoa there pilgrim!{% endblock title %}

{% block content %}
<div class="metric card_detail">
      <h2 style="font-weight: bold;">
        {{ card.key }}
        {% if card.done_date %}
            Done
        {% elif card.start_date %}
            Building
        {% elif card.backlog_date %}
            Planning
        {% endif %}
      </h2>
      <div class="content">
      <h3>{{ card.title }}</h3>
      <p><strong>Are you sure you want to delete card {{ card.key }}?</strong><br />This action can not be undone.</p>

      <form action="{{ form_macros.form_url(request) }}" method="post">
        <input type="submit" name="cancel" value="Cancel" />
        <input type="submit" name="delete" value="Delete" />
      </form>
      </div>
</div>
{% endblock content %}