{% extends "base.html" %}
{% block content %}

<p class="nav">
{% if back_date %}
    <a href="{{ url_for('dashboard', year=back_date.year, month=back_date.month, day=back_date.day) }}">
        &laquo; {{ back_date.strftime("%m/%d/%Y") }}
    </a>

    /

    {{ date.strftime("%m/%d/%Y") }}
{% endif %}
{% if forward_date %}
    /
    <a href="{{ url_for('dashboard', year=forward_date.year, month=forward_date.month, day=forward_date.day) }}">
        {{ forward_date.strftime("%m/%d/%Y") }} &raquo;
    </a>
{% else %}
    / <a href="http://www.google.com/search?q=futurama&um=1&ie=UTF-8&tbm=isch&source=og&sa=N&hl=en&tab=wi&biw=1479&bih=897&uss=1">The year 3000</a> &raquo;
{% endif %}
</p>

<!-- Reference date: {{ date }} -->

{% for m in metrics %}
<div class="metric">
  {% for name, value in m.items() %}
      <h2>{{ name }}</h2>
      <p class="value">{{ value }}</p>
  {% endfor %}
</div>
{% endfor %}

<div id="wip_data">
<table>
    <caption>Building</caption>
	<tr>
		<th>Ticket</th>
		<th>Title</th>
		<th>Cycle time</th>
        <th>State</th>
	</tr>

	{% for card in wip_cards %}
	<tr class="{{ loop.cycle('odd', 'even') }}">
		<td>
            <img src="http://djaapaadm1.ddtc.cmgdigital.com:5150/browse/{{ card.key }}" width="16" height="16" />
			<a href="https://jira.cmgdigital.com/browse/{{ card.key }}">{{ card.key }}
			</a>
		</td>

		<td>
			{{ card.title }} <a href="{{ url_for('card', key=card.key) }}">&raquo;</a>
		</td>

		<td>
			{{ card.current_cycle_time() }}
		</td>

        <td>
            {% if card.state != 'Unknown' %}
                <a href="{{ url_for('state', state_slug=card.state|slugify) }}">{{ card.state }}</a>
            {% endif %}
        </td>

	</tr>
	{% endfor %}
</table>


<!-- BACKLOG -->
<table>
    <caption>Planning</caption>
    <tr>
        <th>Ticket</th>
        <th>Title</th>
        <th>Cycle time</th>
        <th>State</th>
    </tr>

    {% for card in backlog_cards %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>
            <img src="http://djaapaadm1.ddtc.cmgdigital.com:5150/browse/{{ card.key }}" width="16" height="16" />
            <a href="https://jira.cmgdigital.com/browse/{{ card.key }}">{{ card.key }}
            </a>
        </td>

        <td>
            {{ card.title }} <a href="{{ url_for('card', key=card.key) }}">&raquo;</a>
        </td>

        <td>
            {{ card.current_cycle_time() }}
        </td>

        <td>
            {% if card.state != 'Unknown' %}
                <a href="{{ url_for('state', state_slug=card.state|slugify) }}">{{ card.state }}</a>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>
</div>

{% endblock content %}
