{% extends "base.html" %}
{% block content %}

<div id="wip_data">
<table>
	<tr>
		<th>Ticket</th>
		<th>Title</th>
		<th>Cycle time</th>
	</tr>

	{% for card in cards %}
	<tr class="{{ loop.cycle('odd', 'even') }}">
		<td>
            <img src="http://djaapaadm1.ddtc.cmgdigital.com:5150/browse/{{ card.key }}" width="16" height="16" />
			<a href="https://jira.cmgdigital.com/browse/{{ card.key }}">{{ card.key }}
			</a>
		</td>

		<td>
			{{ card.title }}
		</td>

		<td>
			{{ card.current_cycle_time() }}
		</td>

	</tr>
	{% endfor %}
</table>
</div>

{% endblock content %}
