{% extends "base.html" %}
{% block content %}

<div id="wip_data">
{% import "card_macros.html" as card_macros %}

{% if in_progress_reported %}
    {% set section_title = "Reported / %s" % (in_progress_reported|length, ) %}
    {{ card_macros.card_table(in_progress_reported, request, caption=section_title) }}
{% endif %}

{% if in_progress_developed %}
    {% set section_title = "Developing / %s" % (in_progress_developed|length, ) %}
    {{ card_macros.card_table(in_progress_developed, request, caption=section_title) }}
{% endif %}

{% if in_progress_tested %}
    {% set section_title = "Testing / %s" % (in_progress_tested|length, ) %}
    {{ card_macros.card_table(in_progress_tested, request, caption=section_title) }}
{% endif %}


{% if reported %}
    {% set section_title = "Done: Reported / %s" % (reported|length, ) %}
    {{ card_macros.card_table(reported, request, caption=section_title, show_done=True, show_assigned=False, show_state=False, show_in_goal=False) }}
{% endif %}

{% if developed %}
    {% set section_title = "Done: Developed / %s" % (developed|length, ) %}
    {{ card_macros.card_table(developed, request, caption=section_title, show_done=True, show_assigned=False, show_state=False, show_in_goal=False) }}
{% endif %}

{% if tested %}
    {% set section_title = "Done: Tested / %s" % (tested|length, ) %}
    {{ card_macros.card_table(tested, request, caption=section_title, show_done=True, show_assigned=False, show_state=False, show_in_goal=False) }}
{% endif %}



</div>

{% endblock content %}
