{% extends "base.html" %}

{% block extrajs %}
{{ super() }}
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({

            chart: {
                renderTo: 'container',
                type: 'area'
            },

            title: {
                text: '{{ title }}'
            },

            subtitle: {
                text: 'Previous {{ months }} months'
            },

            xAxis: {
                categories: {{ chart['categories']|safe }},
                tickmarkPlacement: 'between',
                title: {
                    enabled: true
                }
            },

            yAxis: {
                title: {
                    text: 'Cards'
                },

                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.x + ' ' + this.series.name +': '+ Highcharts.numberFormat(this.y, 0, ',') +' cards';
                }
            },

            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,

                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },

            series: {{ chart['series']|safe }}
        });
    });
});</script>{% endblock %}

{% block content %}


<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


<div id="wip_data">
<table>
    <tr>
        <th>Date</th>
        {% for state in states %}
        <th>{{ state }}</th>
        {% endfor %}
    </tr>

    {% for report in reports %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>{{ report.date.strftime("%m/%d/%Y") }}</td>
        {% for state in states %}
        <td>{{ report.snapshot.get(state, {}).get('count', "--") }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>


{% endblock content %}