{% extends "base.html" %}
{% block content %}

{% import "card_macros.html" as card_macros %}
{% import "board_macros.html" as board_macros %}


{% if metrics %}
<!-- Reference date: {{ date }} -->

{% for m in metrics %}
    <div class="metric">
      {% for name, value in m.items() %}
          <h2>{{ name }}</h2>
          <p class="value">{{ value }}</p>
      {% endfor %}
    </div>
    {% endfor %}
{% endif %}

<p class="nav">
{% for team in config.get('CARD_TEAMS', []) %}
    {% if team %}
    <a href="{{ url_for('team', team_slug=team|slugify) }}">{{ team }}</a>{% if not loop.last %} / {% endif %}
    {% endif %}
{% endfor %}
</p>


{% if states_data %}
    {% for data in states_data %}
    {{ card_macros.state_display(data, request) }}
    {% endfor %}
{% elif state_data %}
    {{ card_macros.state_display(state_data, request) }}
{% endif %}

{% if board %}
    {{ board_macros.board(board, request, overview=True) }}
{% endif %}


{% endblock content %}
