{% extends "base.html" %}
{% block content %}

{% for data in states_data %}

<div id="wip_data">

{% if states_count != 1 %}
<h2>{{ data['title'] }}</h2>
{% endif %}

{% import "card_macros.html" as card_macros %}

{% if data['wip_cards']|length > 0 %}
    {% set section_title = "Building / %s" % (data['wip_cards']|length, ) %}
    {{ card_macros.card_table(data['wip_cards'], caption=section_title, show_state=False) }}
{% endif %}

{% if data['backlog_cards']|length > 0 %}
    {% set section_title = "Planning / %s" % (data['backlog_cards']|length, ) %}
    {{ card_macros.card_table(data['backlog_cards'], caption=section_title, show_state=False, show_priority=True, show_cycle=False) }}

{% endif %}


</div>

{% endfor %}

{% endblock content %}
