{% extends "base.html" %}
{% block content %}

{% import "card_macros.html" as card_macros %}
{% import "board_macros.html" as board_macros %}


{% if metrics %}
<!-- Reference date: {{ date }} -->

{% for m in metrics %}
    <div class="metric">
      {% for name, value in m.items() %}
          <h2>{{ name }}</h2>
          <p class="value">{{ value }}</p>
      {% endfor %}
    </div>
    {% endfor %}
{% endif %}

{% if team_slug %}
    <p class="nav"><strong>How's {{ target_team }} doing?</strong>:
    {% for report in report_config %}
        <a href="/reports/{{ team_slug }}/{{ report['slug'] }}/1/">{{ report['name'] }}</a>{% if not loop.last %} / {% endif %}
    {% endfor %}
    </p>
{% endif %}

<p class="nav">
{% for team in config.get('CARD_TEAMS', []) %}
    {% if team %}
    <a href="{{ url_for('team', team_slug=team|slugify) }}">{{ team }}</a>{% if not loop.last %} / {% endif %}
    {% endif %}
{% endfor %}
</p>


{% if team_slug %}
<div class="team_page_board">
{% endif %}
{{ board_macros.board(board, request) }}
{% if board %}
</div>
{% endif %}


{% endblock content %}
